body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
}

#root {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
}

.center-of-cards {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 30px;
}

.product-image-section {
  width: 60%;
}

.product-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-images img {
  max-width: 100%;
  border-radius: 5px;
}

.product-images-smoll {
  width: 150px;
  height: 150px;
  display: flex;
  gap: 25px;
}

.product-details-section {
  width: 40%;
  padding-left: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.product-price {
  font-size: 24px;
  color: #ff4b4b;
  font-weight: bold;
}

.select-options {
  margin: 15px 0;
}

.select-options label {
  display: block;
  margin-bottom: 5px;
}

.select-options select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.add-to-cart,
.buy-one-click {
  display: block;
  /* width: 95%; */
  padding: 15px;
  background-color: #ff4b4b;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

.add-to-cart:hover,
.buy-one-click:hover {
  background-color: #ff7070;
}
