@import url("./modal/style.css");
@import url("./carzina/style.css");

#mainList {
  background-color: #f9f9f9;
  padding: 40px;
  padding-left: 75px;
  padding-right: 0px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  overflow: hidden;
}

#productSection {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

#tabList {
  display: flex;
  align-items: center;
  gap: 38px;
}

.buttonTab {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 9px 14px;
  background: #ffffff;
  border: none;
  border-radius: 50px;
}

#productList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.productContent {
  background: #ffffff;
  padding: 12px;
  display: flex;
  flex-direction: column;
  border-radius: 18px;
}

.productContent :nth-child(5) {
  padding: 12px 0px;
  background-color: #f2f2f3;
  border: none;
  border-radius: 12px;
  margin-top: 8px;
  font-family: "Nunito";
  font-size: 16px;
  font-weight: 400;
}

.productContent :nth-child(2) {
  padding-top: 16px;
  font-family: "Nunito";
  font-size: 24px;
  font-weight: 600;
}

.productContent :nth-child(3) {
  font-family: "Nunito";
  font-size: 16px;
  font-weight: 400;
  padding-top: 8px;
}

.productContent :nth-child(4) {
  padding-top: 29px;
  font-family: "Nunito";
  font-size: 16px;
  font-weight: 400;
  color: #b1b1b1;
}

.productContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.productHeader {
  font-family: "Nunito";
  font-size: 40px;
  font-weight: 600;
}

.emptyCategory {
  padding: 45px 12px;
  background-color: #ffab08;
  color: #fff;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  font-family: "Nunito";
  font-size: 24px;
  font-weight: 400;
}

#carzinaNav {
  display: flex;
  align-items: center;
  gap: 130px;
}

#carzinaHeader {
  font-family: "Nunito";
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

#carzinaQuantity {
  background-color: #f2f2f3;
  padding: 2px 16px;
  border-radius: 6px;
}

#carzina {
  background-color: #fff;
  padding: 24px 16px;
  border-radius: 18px;
  margin-top: 81px;
}

#emptyTitle {
  font-family: "Nunito";
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  padding-top: 16px;
}

@media screen and (max-width: 1024px) {
  #mainList {
    padding-left: 32px;
  }
}

@media screen and (max-width: 768px) {
  #carzina {
    margin-top: 0px;
  }
  #productSection {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  #mainList {
    padding-left: 15px;
  }
}

@media screen and (max-width: 320px) {
  #mainList {
    padding-left: 8px;
  }

  .productHeader {
    font-size: 34px;
  }
}
