* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#nav {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #f9f9f9;
}

.logoFree {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.iconFree {
  width: 33px;
}

.titleFree {
  font-family: "Nunito";
  font-size: 28px;
  font-weight: 900;
  color: #fff;
}

.titleBurger {
  display: flex;
  flex-direction: column;
  font-family: "Nunito";
  font-size: 50px;
  font-weight: 800;
  line-height: 60px;
  color: #fff;
}

.titleBurger :nth-child(1) {
  color: #ff5c00;
}

.descBurger {
  font-family: "Nunito";
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 50px;
  padding-bottom: 64px;
}

.textBurger {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 52px;
}

.burgerAdaptive {
  display: none;
}

@media screen and (max-width: 768px) {
  .titleBurger {
    font-size: 36px;
  }
}

@media screen and (max-width: 600px) {
  .burger {
    display: none;
  }

  .burgerAdaptive {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }

  .titleBurger {
    align-items: center;
  }

  .burgerAdaptive :nth-child(2) {
    width: 230px;
  }

  .textBurger {
    align-items: center;
    gap: 20px;
  }
}
